<html>
<head>
    <title>KGS Fintech</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class = "container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="205" height="45" style="margin-top: 18px; margin-left: 18px;">
        <h1 style="font-weight: lighter;">// KGS Fintech Portal //</h1>
    </div>
    <hr><br>
    <div class="file_list">
        {% for ele in files_list %}
            <p>{{ ele }} </p>
        {% endfor %}
    </div> 
    <div class="footer">
        <hr>
        <p><a href="{{ url_for('instructions_page') }}">General Instructions</a></p>
    </div>
</body>
</html>