<html>
<head>
    <title>KGS Fintech</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <div class = "container">
        <a href="{{ url_for('upload_file') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="205" height="45" style="margin-top: 18px; margin-left: 18px;">
        </a>
        <h1 style="font-weight: lighter;">" KGS Fintech Portal "</h1>
    </div>
    <hr><br>
    <div>
        <h1 class="center">Prompt 1</h1>
        <br>
        <h2>Upload excel sheet(s) here:</h2>
        <form class="cl_file" method = "POST" enctype = "multipart/form-data">
            <input multiple type="file" style="margin-top: -10px; margin-left: 10%; margin-bottom: -15px;padding: 10px;" name="multi_files" accept=".xls,.xlsx"/>
            <p style="font-weight: normal; font-size: smaller; margin-bottom: 20px;">Enter text to search for:</p>
            <input class = "center" style="width: 50%" type="text" name="file_list_names" placeholder=" eg: Amar Agro, Blue, Zed"/>
            <br>
            <input style="color:black; width:20%; background: #39D2B4;" type="submit" value=" Search for terms"/>
            <br>
        </form>
        <p style="text-align: center;">
            <b style="color: black;">{{message}}</b>
        </p>
    </div>
    <div class="footer">
        <hr>
        <p>
            <a style="color: Blue; font-weight: bolder;" href="{{ url_for('instructions_page') }}">General Instructions</a>&nbsp&nbsp&nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp&nbsp&nbsp
            <a style="color: Green; font-weight: bolder;" href="{{ url_for('upload_file') }}">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp&nbsp&nbsp
            <a style="color: Red; font-size: x-small;" href="{{ url_for('delete_files') }}">Clear Uploaded Files!
        </p>
    </div>
</body>
</html>

<!-- onclick="window.location.href='{{ url_for( 'instructions_page') }}'; -->