<html>
<head>
    <title>KGS Fintech</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <div class = "container">
        <a href="{{ url_for('upload_file') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="205" height="45" style="margin-top: 18px; margin-left: 18px;">
        </a>
        <h1 style="font-weight: lighter;">" KGS Fintech Portal "</h1>
    </div>
    <hr><br>
    <div>
        <h1 class="center">Prompt 1</h1>
        <br>
        <h2>Upload excel sheet here:</h2>
        <form class="cl_file" method = "POST" action = "{{ url_for('upload_file') }} "enctype = "multipart/form-data">
            <input type="file" style="margin-top: -10px; margin-left: 10%; margin-bottom: -15px;padding: 10px;" name="file" accept=".xls,.xlsx"/>
            <p style="font-weight: normal; font-size: smaller; margin-bottom: 20px;">(Optional) Enter related party names, separate with commas:</p>
            <input class = "center" style="width: 50%" type="text" name="rel_party_htm" placeholder=" eg: Amar Agro, Blue, Zed"/>
            <br>
            <input style="color:black; width:20%; background: #39D2B4;" type="submit" />
            <br>
        </form>
        <p style="text-align: center;">
            <b style="color: black;">{{message}}</b>
        </p>
        <p class="center" style="color: black;"><b><i>{{ val }}</i></b></p>
        <br>
        <hr><br>
        <h1 class="center">Prompt 2</h1>
        <br>
        <br>
        
        <br>
        <br><hr><br>
    </div>
    <div>
        <h1 class="center">Prompt 3</h1><br><br>
        <p class="center">Select an action:</p>
        <br><br><br><br>
        <div class="btn-group" style="left: 50%; transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);position: absolute;">
            <button action="#" onclick="window.location.href='{{ url_for('remarks_page') }}';">Remarks</button>
            <button action="#" onclick="window.location.href='{{ url_for('totals_page') }}';">Totals</button>
            <button action="#" onclick="window.location.href='{{ url_for('totals_and_remarks') }}';">Remarks + Totals</button>
            <button action="#" onclick="window.location.href='{{ url_for('related_party') }}';">Related Party</button>
            <button action="#" onclick="window.location.href='{{ url_for('purchase_sheet') }}';">Rate Sheet</button>
            <button action="#" onclick="window.location.href='{{ url_for('sample_extraction') }}';">Random Entries</button>
            <button action="#" onclick="window.location.href='{{ url_for('add_features') }}';">Search for terms</button>
            <button action="#" onclick="window.location.href='{{ url_for('bb_reconcilation_uploader') }}';">Bank Book Reconcilation</button>
        </div>
    <br><br><br><br>
    <p class="center" style="color:black;">{{msg}}</p>
    </div>
    <div class="footer">
        <hr>
        <p>
            <a style="color: Blue; font-weight: normal;" href="{{ url_for('instructions_page') }}">General Instructions</a>&nbsp&nbsp&nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp&nbsp&nbsp
            <a style="color: Green; font-weight:normal;" href="{{ url_for('upload_file') }}">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp / &nbsp&nbsp&nbsp&nbsp&nbsp
            <a style="color: Red; font-size: smaller;" href="{{ url_for('delete_files') }}">Clear Uploaded Files! (no undo)
        </p>
    </div>
</body>
</html>